* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.popup-container {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1.25rem;
  z-index: 100;
  display: flex;
  align-items: flex-end;
  font-family: ui-sans-serif, system-ui, sans-serif;
  user-select: none;
  line-height: 1em;
}

.popup-content {
  background-color: white;
  color: #1f2937;
  border-radius: 0.5rem;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  width: max-content;
  height: min-content;
  padding: 0.5rem 1rem;
  margin: auto 0.5rem 0 0;
  transition: opacity 300ms;
}

.toggle-button {
  display: flex;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  cursor: pointer;
  border: none;
  background-color: #288cd7;
}

.toggle-button:hover {
  background-color: #1e6aa3;
}

.button-icon {
  padding: 4px;
}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.form-group {
  margin-bottom: 1rem;
  display: grid;
  gap: 0.5rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
  text-align: start;
}
.form-input {
  border: 1px solid #d1d5db;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.375rem;
  font-size: 1.2rem;
  color: #111827;
}
.form-input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}
.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #444;
}

.header-note {
  margin: 0;
  font-size: 1rem;
  color: #666;
}

.card {
  margin-bottom: 4px; 
}

.bs {
  margin-top: 8px;
  margin-bottom: 8px;
}
.s {
  margin-top: 4px;
  margin-bottom: 4px;
}

.ss {
  margin-top: 2px;
  margin-bottom: 2px;
}

.cont {
  padding: 12px;
  border-radius: 4px;
}

.cont-b {
  border: 1px solid #999;
  border-radius: 4px;
}
.cont-fill {
  background-color: #f0f0f0;
}

.f {
  display: flex;
}
.f-col {
  display: flex;
  flex-direction: column;
}
.f-gap-8 {
  gap: 8px;
}
.f-gap-4 {
  gap: 4px;
}
.f-gap-2 {
  gap: 2px;
}
.jc-center {
  justify-content: center;
}
.jc-space-between {
  justify-content: space-between;
}
.ai-center {
  align-items: center;
}
.jc-end {
  justify-content: end;
}
.ai-end {
  align-items: end;
}
.jc-evenly {
  justify-content: evenly;
}

.btn {
  padding: 0px;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
}

.btn-b {
  border: 1px solid #4CAF50;
  font-size: 12px;
}

.btn-b:hover {
  background-color: #4CAF50;
  color: white;
}

.btn-fill {
  background-color: #f0f0f0;
}
.btn-fill:hover {
  background-color: #9945a049;
  color: white;
}
.btn.active-a {
  background-color: #f0f0f0;
  color: #444;
}
.btn.not-active {
  background-color: transparent;
  color: #888;
}
.btn.not-active:hover {
  background-color: #e0e0e0;
}
.btn-hover:hover {
  background-color: white;
}

